* {
  background-color: rgb(22, 5, 46);
}
.cl-text {
  background-image: linear-gradient(
    to right,
    rgb(252, 101, 0),
    rgb(255, 212, 173)
  );
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

.text {
  color: white;
  
}
.ctn-bg h1{
    background-color: white;
    border-radius: 10px;
    text-align: start;
    padding: 20px 20px 0px;
    font-size: 30px;
}
.ctn-bg {
  height: 320px;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  margin:0px 440px;
}
input{
    height: 30px;
    margin-top: 10px;
}
button{
    height: 36px;
    margin-top: 10px;
    padding: 0;
}
.ctn-btn{
    display: flex;
    flex-direction: row;
    background-color: white;

}
.btn-content-ctn{
    color: black;
    background-color: white;
    cursor: pointer;
}
.btn-content-ctn:hover{
    background-color:rgb(22, 5, 46) ;
    color: white;
    padding: 10px 0px;
}
.ctn-btn p{
    background-color: white;
    padding:0px 10px 0px 20px;
}
.ctn-btn input{
    background-color: white;
}
.ctn-bg button{
    color: white;
    background-color: white;
}
.text-ctn{
    text-align: left;
    background-color: white;
    margin: 0px 70px 0px 0px;
    padding-left: 20px;
}

.text-foot{
    color: white;
}
.btn-right{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-right:hover{
    background-color:rgb(22, 5, 46) ;
    color: white;
    padding: 10px 0px;
}
.strong-text{
    font-weight: 700;
}